@import url('https://fonts.googleapis.com/css2?family=Stack+Sans+Text:wght@200..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

body {
    color: black;
    font-family: "Stack Sans Text";
    background-color: #efecec;
    overflow-x: hidden;
}

.logo {
    height: 40px;
}

header {
    position: fixed;
    width: 100%;
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
    font-size: 15px;
    z-index: 999;
}

header a {
    float: left;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
}

header a.active {
    color: white;
}

.head-centered a {
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.head-right {
    float: right;
}

.head-left {
    float: left;
}

.search {
    width: 250px;
}

ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.nabidka h1 {
    margin: 30px;
}

.nabidka {
    width: 100%;
    padding-top: 120px;
    padding-bottom: 80px;
}

.produkty, .ky, .ba, .uk, .př, .el {
    display: flex;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
}

.produkt {
    border: rgb(183, 183, 183) solid 1px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 280px;
    padding: 20px;
    background-color: white;
}

.produkt:hover {
    scale: 110%;
}

.produkt img {
    height: 250px;
}

.pic {
    display: flex;
    align-items: center;
    justify-content: center;
    height: fit-content;
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../images/back.webp);
    height: 100vh;
}

.nabidka,
.onas,
.kontakt,
.footer,
.onas_hero,
.team {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.nabidka,
.onas,
.kontakt,
.footer,
.onas_hero,
.team {
    padding: 25px;
    gap: 20px;
}
.kontakt{
    padding: 30px 100px;
    padding-top: 120px;
}
.kontakt_main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
    width: 60%;
}
.h2{
    margin-bottom: 15px;
}
.kontakt_main .a{
        cursor: pointer;
        padding: 9px 14px;
        border: 2px solid gray;
    border-radius: 20px;color: white;
    background-color: black;
}
.team ul {
    gap: 5px;
    font-size: 17px;
}

.onas_hero {
    padding-top: 120px;
}

.onas p,
.onas_hero p {
    font-size: 18px;
    padding: 20px;
    text-align: justify;
}

a {
    text-decoration: none;
    color: black;
}

.bottom {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    font-size: 10px;
}

.bottom_right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.bottom img {
    height: 25px;
}

.bottom a {
    padding: 5px;
}

.ins img {
    height: 30px;
}

.ins {
    width: 100%;
    padding-top: 15px;
    display: flex;
    align-items: center;
}

.search {
    border-radius: 20px;
    border: 2px black solid;
    padding: 5px;
    left: 5%;
}

.login {
    padding-top: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

form.form-example {
    display: table;
}
.form-zprava {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 500px;
    height: 200px;
    border-radius: 15px;
    padding: 4px 8px;
    font-size: 14px;
}

div.form-example {
    display: table-row;
}

label,
input {
    display: table-cell;
    margin-bottom: 10px;
}

.login form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.submit {
    border: black 2px solid;
    border-radius: 15px;
    margin-top: 10px;
    padding: 15px 20px;
    background-color: black;
    color: white;
}

label {
    padding-right: 10px;
}

.formin {
    border-radius: 15px;
    width: 250px;
    height: 40px;
    padding: 4px 8px;
    font-size: 14px;
}
.footer{
    font-size: 13px;
    margin-top: 50px;
}
/*Katalog */
.katalog {
    font-family: "Stack Sans Text";
    overflow-x: hidden;
}

.kategorie {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    padding-top: 150px;
    border-bottom: 3px black solid;
    margin-bottom: 10px;
}

.katalog_main {
    display: flex;
}

.kategorie button {
    border: none;
    font-size: 25px;
    padding: 11px 16px;
    background-color: #efecec;
        border: 2px solid gray;
    border: hidden;

}

.kategorie button:hover {
    cursor: pointer;
        padding: 9px 14px;
        border: 2px solid gray;
    border-radius: 20px;
}
.ba, .uk, .př, .el{
    display: none;
}
.parametry {
    width: 400px;
    height: 90vh;
    border: 2px solid gray;
    margin-left: 50px;
    border-radius: 15px;
}

.katalog_main .produkty {
    padding: 30px 45px;
    justify-content: flex-start;
    width: 90%;
}
.katalog_main .produkt{
    width: 230px;
    height: 350px;  
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 15px;
}
.katalog_main .produkt img{
    height: 200px;    
}
@media screen and (max-width:800px) {
    .logo {
        height: 30px;
    }

    header h2 {
        font-size: 17px;
    }

    header {
        position: absolute;
    }

    .head-right,
    .head_,
    .head-left {
        display: flex;
        flex-direction: column;
    }

    .head-centered a {
        float: none;
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    header a {
        padding: 5px 6px;
    }

    .search {
        width: 150px;
    }

    .produkt img {
        height: 150px;
    }

    .nabidka,
    .onas,
    .kontakt,
    .footer,
    .onas_hero,
    .team {
        padding: 15px;
        gap: 10px;
    }

    .team ul {
        gap: 3px;
        font-size: 12px;
    }

    .onas_hero {
        padding-top: 120px;
    }

    .onas p,
    .onas_hero p {
        font-size: 13px;
        padding: 10px;
    }

    .bottom {
        padding: 5px;
        font-size: 5px;
    }

    .bottom_right {
        gap: 10px;
    }

    .bottom img {
        height: 18px;
    }

    .bottom a {
        padding: 3px;
    }

    .ins img {
        height: 25px;
    }

    .search {
        border-radius: 20px;
        border: 2px black solid;
        padding: 3px;
        left: 5%;
    }

    .nabidka {
        width: 100%;
        padding-top: 100px;
        padding-bottom: 30px;
    }

    .produkty {
        gap: 20px;
        align-items: center;
        justify-content: center;
    }

    .login {
        padding-top: 150px;
    }

    label,
    input {
        margin-bottom: 5px;
    }

    .submit {
        border: black 2px solid;
        padding: 7px;
    }

    label {
        padding-right: 5px;
    }

    .formin {
        width: 250px;
        height: 20px;
        padding: 4px 8px;
        font-size: 12px;
    }

    .nabidka h1 {
        margin: 10px;
    }
    /*Katalog */

.kategorie {
    padding: 10px 30px;
    padding-top: 110px;
    margin-bottom: 5px;
    font-size: 10px;
    flex-direction: column;
}

.katalog_main {
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.kategorie button {
    font-size: 20px;
    padding: 7px 12px;
}

.kategorie button:hover {
        padding: 4px 7px;
}
.parametry {
    width: 80%;
    height: 150px;
    margin-left: 0px;
}

.katalog_main .produkty {
    padding: 15px 35px;
}
.katalog_main .produkt{
    width: 100px;
    height: 200px;  
    gap: 10px;
    font-size: 10px;
}
.katalog_main .produkt img{
    height: 100px;    
}
.produkty, .ky, .ba, .uk, .př, .el {
    align-items: center;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}
}